/* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Lato;
    /*background: #EFEFEF;*/
    background: #f4f4f4;
}

table td.bolder
{
    font-weight: bolder;
}

#cetakKartuRegistrasi
{
    background-color: white;
}

#cetakKartuRegistrasi table, #cetakKartuRegistrasi td
{
    vertical-align: top;
}

#titleKartuRegistrasi
{
    border-bottom: 3px solid #ddd;
}

#displayPicture
{
    width: 120px;
    height: 150px;
    background: url("../images/nerdlove.jpg") 0% 0%/contain no-repeat transparent;
    border: 1px solid orange;
}

#page
{
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ffffff; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 100%);  FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#ffffff));  Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%);  Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%);  Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%);  IE10+ */
    /*background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 100%);  W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );  IE6-9 */

    border: 1px solid #ffa500;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

#header
{
    margin-bottom: 20px;
    padding: 0;
    /*border-top: 1px solid #C9E0ED;*/
    height: 110px;
    /*background: url("../images/header3.png") 0% 0%/cover no-repeat transparent;*/
}

#content
{
    padding: 20px;
}

#loginContainer, #registerFormContainer
{
    margin: auto;
    box-shadow: 0px 0px 7px #888;
    border: 1px solid #f96503;
    text-align: center;
}

#loginContainer
{
    width: 400px;
    padding: 20px 0;

}

#registerFormContainer
{
    width: 700px;
    padding: 20px;
}

#registerSuccessMessage
{
    color: white;
    padding: 5px;
    background-color: #fb6d10;
    margin-bottom: 10px;
}

#registerSuccessMessage p 
{
    margin: 0;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#sidebarRight
{
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid orange;
    margin: 20px 0;
    height: 200px;
}

#summaryProfile
{
    width: 60%;
}

#footer
{
    /*padding: 10px;*/
    /*background: url("../images/footer2.png") 0% 0%/cover no-repeat transparent;*/
    background-color: #f2f2f2;
    height: 100px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: right;
    border-top: 1px solid #C9E0ED;
    padding: 20px 10px;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu, #mainmenu_daftarbeasiswa, #mainmenu_dashboard, #menu-top
{
    margin-top: 20px;
}

#mainmenutop
{
    margin: 10px 0 0 10px;
    height: 28px;
}

#mainmenu, #mainmenutop, #mainmenu_daftarbeasiswa
{
    background: transparent;
}

#mainmenu ul, #mainmenu_daftarbeasiswa ul, #mainmenu_dashboard ul, #menu-top ul
{
    /*padding:6px 20px 5px 20px;*/ 
    margin:auto;
    padding-left: 0;
}

#mainmenutop ul, #mainmenu_dashboard ul
{
    padding-left: 0;
}

#mainmenu ul li, #mainmenutop ul li, #mainmenu_daftarbeasiswa ul li, #mainmenu_dashboard ul li, #menu-top ul li
{
    display: inline;
}

#menu-top ul li:hover > ul {
    display: block;
}

#mainmenu ul li a, #mainmenutop ul li a, #menu-top ul li a, #menu-top ul li ul li a, #dropdown_assign, #dropdown_kelola
{
    color:#ffffff;
    background-color:orange;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:8px 13px;
}

#menu-top ul li ul { 
    display: none; 
    position: absolute;
}

.dropdown_assign_item, .dropdown_kelola_item {
    margin-top: 15px;
}

.dropdown_assign_item {
    margin-left: 215px;
}

.dropdown_kelola_item {
    margin-left: 95px;
}

#menu-top ul li ul li {
    display: block;
    margin-bottom: 15px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a, #mainmenutop ul li a:hover, #mainmenutop ul li.active a, #menu-top ul li a:hover, #menu-top ul li.active a, #menu-top ul li ul li a:hover, #menu-top ul li ul li.active a, #dropdown_assign:hover, #dropdown_kelola:hover 
{
    color: orange;
    background-color:#FFF;
    text-decoration:none;
    border-bottom: 1px solid orange;
}

#dropdown_assign, #dropdown_kelola {
    margin-right: 2px;
}

#dropdown_assign:hover, #dropdown_kelola:hover {
    cursor: pointer;
}

#mainmenu_dashboard ul li a
{
    color:black;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 3px;
}

#mainmenu_daftarbeasiswa ul li a:hover, #mainmenu_daftarbeasiswa ul li.active a, #mainmenu_dashboard ul li a:hover, #mainmenu_dashboard ul li.active a
{
    color: orange;
    text-decoration:none;
    border-bottom: 1px solid orange;
}

#mainmenu_dashboard ul li a 
{
    font-size: 13px !important;
}

#registerLogin
{
    float: right;
    margin: 2px 50px 0 0;
}

#welcomeMessage
{
    margin: auto;
    width: 250px;
    text-align: center;
}

#welcomeMessage h1
{
    font-weight: 700;
}

#welcomeQuote
{
    width: 60%;
    background-color: #f2f2f2;
    margin: auto;
    padding: 10px 20px;
    text-align: right;
}

#welcomeQuote span
{
    color: orange;
}

#welcomeQuote h3
{
    color: orange;
    font-style: italic;
}

#wrapper
{
    width: 820px;
    margin: auto;

}

#wrapperadmin
{
    width: 90%;
    margin: auto;

}

div.compose
{
    background-color: #f2f2f2;
}

div.reply
{
    background-color: white;
}

div.reply, div.compose
{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #888;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#cdf2cd;
    color:#49763d;
    border-color:#cdf2cd;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
    margin-top: 10px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #fecf00;
    border-left: 5px solid orange;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #fff;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#f2f2f2;
    border: 1px solid orange;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

.button_red
{
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 10px;
    padding: 8px 13px;
    background-color: #d9534f;
    text-decoration: none;
}

@-moz-document url-prefix() {

    .button_red
    {
        font-family: Arial;
    }
}


.button_red:hover {
    color: white;
    background-color: #c9302c;
}

.grid-button
{
    cursor: pointer;
    background: none; 
    border: none;
    color: white; 
    padding: 10px; 
    margin-top: 20px; 
    text-decoration: none;
}

.excel
{
    background-color: #51ab3e; 
}

.excel:hover
{
    background-color: #2a7e2b;
}

.process
{
    background-color: #ffa500; 
}

.process:hover
{
    background-color: #fb6b0c;
}

.infoPendaftarBox
{
    float: left; 
    margin-right: 10px; 
    width: 200px; 
    height: 90px; 
    padding: 5px; 
    border: 1px solid #6badf6; 
    background-color: #c9e0ed; 
    font-weight: bold; 
    text-align: center
}

.profil-header, .submit-data-header, .daftar-header {
    font-weight: bold;
}

.profil-header {
    /*margin: 50px 0 10px 0;*/
}

.submit-data-header {
    margin: 30px 0 10px 0;
}

.daftar-header {
    margin: 10px 0 30px 0;
}

.profil-table-width-1 {
    width: 130px;    
}

#menu_daftar {
    background-color: orange;
    padding: 4px 10px 6px !important;
    border-radius: 5px;
    line-height: 19px;
    border: 1px solid #fc8003;
}

#menu_daftar li {
    margin: 0 7.5px;
}

#menu_daftar li a:hover, #menu_daftar li.active a {
    background: #fc8003 !important;
    color: white !important;
}

#menu_daftar li a
{
    color:black;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    padding:10px;
}

@-moz-document url-prefix() {

    #menu_daftar li a
    {
        color:black;
        font-size:10px;
        font-family: Arial;
        font-weight:bold;
        text-decoration:none;
        padding:9px;
    }
}

.btn-save {
  background: #ffa600;
  background-image: -webkit-linear-gradient(top, #ffa600, #f96503);
  background-image: -moz-linear-gradient(top, #ffa600, #f96503);
  background-image: -ms-linear-gradient(top, #ffa600, #f96503);
  background-image: -o-linear-gradient(top, #ffa600, #f96503);
  background-image: linear-gradient(to bottom, #ffa600, #f96503);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
  text-decoration: none;
}

.btn-save:hover {
  background: #f96503;
  background-image: -webkit-linear-gradient(top, #f96503, #f96503);
  background-image: -moz-linear-gradient(top, #f96503, #f96503);
  background-image: -ms-linear-gradient(top, #f96503, #f96503);
  background-image: -o-linear-gradient(top, #f96503, #f96503);
  background-image: linear-gradient(to bottom, #f96503, #f96503);
  text-decoration: none;
  cursor: pointer;
}

.btn-save-container {
    text-align: center;
}

.btn-save-disabled {
    background: #f2f2f2;
    border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
  text-decoration: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff8000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  text-decoration: none;
  font-size: 13px;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.daftar-form-container {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
}
.profil-user {
    margin-bottom: 20px;
}

.submit-data-table {
    border: 2px solid #5c5c5c;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #888888;
}

.submit-data-table thead th {
    background: #5c5c5c;
    color: #FFF;
}

.submit-data-table tbody {
    background-color: #fae680;
}

.fancy li a {
    width: 90%;
    margin-right: 15px;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}

.form-control, .form-control-compact {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    height: 34px;
}
.form-control-compact {
    height: 25px;
}
.form-control:focus, .form-control-compact:focus {
  border-color: #ffa500;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 165, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 165, 0, 0.6);
}
.form-control::-moz-placeholder, .form-control-compact::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder, .form-control-compact:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder, .form-control-compact::-webkit-input-placeholder {
  color: #999999;
}
.form-control::-ms-expand, .form-control-compact::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
.form-control-compact[disabled],
.form-control-compact[readonly],
fieldset[disabled] .form-control, fieldset[disabled] .form-control-compact {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
.form-control-compact[disabled],
fieldset[disabled] .form-control, fieldset[disabled] .form-control-compact {
  cursor: not-allowed;
}

table#form_daftar {
    border-collapse: collapse;
}

table#form_daftar tr {
    border-bottom: 1px dashed #ccc;
    height: 60px;
}

.btn-formdaftar, .btn-formlogin {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ff6b05;
}
.btn-formdaftar {
    font-size: 20px;
  padding: 10px 25px;
}
.btn-formlogin {
  font-size: 15px;
  padding: 10px 25px;
}
.btn-formdaftar:hover, .btn-formlogin:hover {
  color: #ffffff;
  background-color: #fc8003;
  border-color: #ff6b05;
}
#login-form input[type="text"], #login-form input[type="password"] {
    margin:auto;
    width:70%;
    height:27px
}

div.form-daftar {
    background: #fafafa;
    padding: 20px;
    border: 1px solid #eee;
}

div.form label.label_keluarga {
    display: inline;
}

div.form span.required_opt, div.form span.required_bapak, div.form span.required_ibu, div.form span.required_opt_bapak, div.form span.required_opt_ibu {
    color: #FF0000;
}

#generic_price_table{
    background-color: #fafafa;
    border: 1px solid #EEEEEE;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
    background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
    background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
    color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    background-color: #E4E4E4;
    border-left: 5px solid orange;
}

#generic_price_table .generic_content .generic_price_btn a{
    border: 1px solid orange;
    color: orange;
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
    border-color: orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) orange;
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
    background-color: orange;
    color: #fff;
}
#generic_price_table{
    margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
    overflow: hidden;
    position: relative;
    text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
    margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    font-family: "Lato",sans-serif;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
    padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
    margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 320px) {
}

@media (max-width: 767px) {
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
        float:left;
        width:50%;
    }

    #generic_price_table .col-md-4{
        float:left;
        width:50%;
    }

    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
    font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.demo-pic{
    margin: 0 auto;
}
.demo-pic:hover{
    opacity: 0.7;
}

#generic_price_table_home ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}
#generic_price_table_home li{
    float: left;
}
#generic_price_table_home li + li{
    margin-left: 10px;
    padding-bottom: 10px;
}
#generic_price_table_home li a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}
#generic_price_table_home .blue{
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
    background: #2ECC71;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
    background: #E74C3C;
    transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
#generic_price_table_home .divider span{
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}
#generic_price_table_home .itemname{
    text-align: center;
    font-size: 50px ;
    padding: 50px 0 20px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
    padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;

}
.bottom_btn:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;
}
a.ui-dialog-titlebar-close {
    display: none !important;
}
