@charset "ISO-8859-1";
/* Generic Selectors */
 
body {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #FFFFFF;
}
 
p {
   width: 80%;
}
 
li {
   list-style-type: none;
   line-height: 150%;
   list-style-image: url(../images/arrowSmall.gif);
}
 
h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   font-weight: bold;
   color: #000000;
}
 
h2 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
   font-weight: bold;
   color: #000000;
   border-bottom: 1px solid #C6EC8C;
}
 
/**************** Pseudo classes ****************/
 
/* a:link {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}
 
li :link {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}
 
a:visited {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}
 
li a:visited {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}
 
a:hover {
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   text-decoration: underline;
}
 
li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #C6EC8C;
}
 
a:active {
   color: rgb(255, 0, 102);
   font-weight: bold;
} */

div.form
{
}
div.form span.required
{
	color: red;
}
div.form .hint {
    font-size: .8em;
    color: #777;
}

a, div, td, tr {
    margin: 0;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/************************* ID's *************************/

#logo {
    padding: 15px 0 15px 90px;
    background: url(opengraph-image.png) 10px center no-repeat;
    color: #FD0;
    font-size: 28px;
    font-family: Constantia,"Times New Roman",Times,serif;
    line-height: 1;
    text-shadow: 1px 1px 3px #333;
}
#logo, .toolbox a:hover {
    border: 0;
}
#logo, #logo em {
    display: block;
}
#logo em {
    font-size: 12px;
    font-style: italic;
    font-family: Candara,Calibri,Arial,Helvetica,sans-serif;
}

#pinggir {
   position: absolute;
   width: 210px;
   height: 600px;
   margin: 0;
   margin-top: 50px;
   font-weight: normal;
}

#atas {
   position: center;
   padding: 0 0 0 0; /*top right bottom left*/
   margin-top: 50px;
   margin-left: 235px;
   margin-right: 235px;
}
 
#tengah {
   position: center;
   padding: 0 0 0 0; /*top right bottom left*/
   margin-top: 50px;
   margin-left: 235px;
   margin-right: 235px;
   border-right: 1px solid #C6EC8C;
   border-top: 1px solid #C6EC8C;
   border-bottom: 1px solid #C6EC8C;
   border-left: 1px solid #C6EC8C;
   background-color: #F9F9F9;
}