@charset "ISO-8859-1";
/* Generic Selectors */
 
body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Lato;
    background: #EFEFEF;
    background: #f4f4f4;
}
 
p {
    margin: 0 0 1.5em;
}
 
a {
    color: #06c;
    text-decoration: underline;
}
 
li {
   list-style-type: none;
   line-height: 150%;
   list-style-image: url(../images/arrowSmall.gif);
}
 
h1 {
   font-family: Arial, Times, serif;
   font-size: 36px;
   font-weight: bold;
   color: #000000;
}
 
h2 {
   font-family: Arial, Times, serif;
   font-size: 18px;
   color: #000000;
}

h4 {
   font-family: Arial, Times, serif;
   font-size: 14px;
   font-weight: italic;
   color: #FF0000;
}

h5 {
   font-family: Arial, Times, serif;
   font-size: 12px;
   font-weight: italic;
   color: #FF0000;
}
 
a, div, td, tr {
    margin: 0;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
 
/**************** Sub ****************/
 
li :link {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

div.form
{
}
div.form .note
{
    color: red;
	font-style: italic;
}
div.form span.required
{
	color: red;
}
div.form .hint {
    color: red;
	font-style: italic;
	font-size: 10px;
}

div.form input, div.form button {
    margin: 0.2em 0 0.5em 0;
}

div.form-container {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
}

div.form input, div.form textarea, div.form select {
    margin: 0.2em 0 0.5em 0;
}

.btn {
    display: inline-block;
    margin: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -moz-user-select: none;
    text-decoration: none;
    font-size: 13px;
}
.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}

.form-control{
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label{
	font-family: Arial, Times, serif;
  	font-size: 16px;
  	color: #000000;
  	display: inline-block;
	margin-bottom: .5rem;
}

.form-radio{
	font-family: Arial, Times, serif;
  	font-size: 14px;
  	color: #000000;
  	display: inline-block;
}
 
/************************* ID's *************************/

#page {
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid #ffa500;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

#atas {
   position: center;
   padding: 0 0 0 0; /*top right bottom left*/
   margin-top: 50px;
   margin-left: 235px;
   margin-right: 235px;
}
 
#tengah {
   position: center;
   padding: 35px;
   margin-top: 30px;
   margin-left: 100px;
   margin-right: 100px;
   background-color: #FFFFFF;
}

#bawah {
	background-color: #f2f2f2;
	height: 100px;
	margin-top: 10px;
	font-size: 0.8em;
	text-align: right;
	border-top: 1px solid #C9E0ED;
	padding: 20px 10px;
}